extends layout

block main-content 
  h1.page-title #{title}
  div.about-container
    p.aboutus Darsh Developers is a full-service IT company that provides innovative digital solutions for businesses and individuals. Our team of experts specializes in web design, web hosting, social marketing, photography and videography, making us a one-stop-shop for all your digital needs. At Darsh Developers, we believe that creativity and technology go hand in hand. Our web designers work closely with our clients to create stunning websites that not only look great but also deliver results. Our web hosting services are fast, reliable, and secure, ensuring that your website is always accessible to your customers. In the fast-paced world of social media, having a strong online presence is critical. That's why we offer comprehensive social marketing services that help businesses build their brand, reach new customers, and engage with their existing ones. Our talented photographers and videographers capture the essence of your brand, bringing your products and services to life. At Darsh Developers, our goal is to help you succeed. Whether you're looking to build a website, establish a social media presence, or promote your business through photography and videography, we have the skills and expertise to deliver. Contact us today to learn how we can help your business grow.
